<div class="row">
    <div class="col-2">
        <a routerLink="/" ><b class="name text-info" >QuickCart</b></a>
    </div>
    <div class="col-3">
        <div class="desktop-nav">
            <a routerLink="/login/" class="text-white"><b>Login</b></a>
            <a routerLink="/register/" class="text-white"><b>Register</b></a>
            <a routerLink="/cart/" class="text-white">
            <i class="fa-solid fa-cart-shopping">
            @if (counter != 0) {
            <span class="position-fixed top-1 start-80 translate-middle badge rounded-pill bg-info" style="padding: 2px;">
                {{counter}}
            </span>}
            </i></a>
            
        </div>
        
        <details class="mobile-nav">
            <summary class="text-white"><b><i class="fa-solid fa-bars"></i></b></summary>
            <a routerLink="/login/" class="text-white"><b>Login</b></a>
            <a routerLink="/register/" class="text-white"><b>Register</b></a>
            <a routerLink="/cart/" class="text-white"><i class="fa-solid fa-cart-shopping"></i></a>
        </details>
    </div>
        
</div>