<div class="row">
    <div class="desc">
        <h1>Skills</h1>
        <br>
        <p>Lorem  Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae eius facere molestiae aperiam deleniti! Culpa consequuntur id animi ipsum quibusdam, voluptate rem quam tempore molestiae nisi inventore laborum illo aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur atque eum amet exercitationem rem dolorum enim! Aliquid possimus, nihil, corrupti id quam porro repellat, maiores eos blanditiis voluptatibus consectetur. Voluptates.ipsum dolor sit amet consectetur adipisicing elit. In blanditiis quia suscipit voluptatibus sed? Vero, labore repellat. Maiores aut nulla, nemo minus ducimus nobis, error eius dicta fugiat quibusdam est!</p>
    </div>
</div>
<div class="row">
    <div class="content">
        <div class="col-4">
            <pre><b>My Focus</b> 
                <hr>
Programming

Web Development

Esports

Mobile Development

            </pre>
        </div>
        <div class="col-6 pro">
            <p style="margin: 0;"><b>Python</b></p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 88%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><b>SQL</b></p>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div> 
           <p><b>HTML</b></p>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar " style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><b>Css</b></p>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 20%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><b>Django</b></p>

            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
