<div class="row">
    <div class="col-4">

    <div class="touch">
        <p><b>Get in touch</b></p>
        <br>
        <pre><i class="fa-solid fa-phone"> </i>  +201207608629</pre>
        <br>
        <pre><i class="fa-solid fa-envelope"> </i>  Mostafa.Mohamed.Lotfy02&#64;gmail.com</pre>
        <br>
    </div>
</div>

<div class="col-4">
    <p><b>Contact me</b></p>
    <div class="contact">
            <i class="fa-brands fa-facebook"></i>
            <i class="fab fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>        
        </div>
        
    </div>
    <p>Copyright &copy; 2025 Mostafa Lotfy</p>
</div>