
<div class="row">
    <h1>To-Do List</h1>
    <hr class="border border-3 border-primary">
    <div class="content">
        @for (task of tasks; track $index) {
                <div class="task-{{$index}}">
                    @if (task.complete) {
                        <button class="btn btn-primary" (click)="complete($index)">Undo</button>
                    }@else {
                        <button class="btn btn-primary" (click)="complete($index)">Complete</button> 
                    }
                <button class="btn btn-danger" (click)="del($index)">Delete</button>
                <p id="p-{{$index}}" [style]="task.complete? 'text-decoration: line-through': '' " >
                    <b>Task {{$index + 1}} : {{task.task}}</b></p>
            </div>
        }
    </div>

</div>