.row{
    display: flex;
    padding: 4em;
    gap: 2em;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;

}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.main-product-image {
    width: 100%;
    max-width: 28em;
    object-fit: contain;
    margin-bottom: 2em;
}

.thumbnails {
    display: flex;
    justify-content: sp;
    gap: 2em;
}

.thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 8px;
}

.info {
    flex: 1;
    padding: 2em;
    border: 1px solid rgb(224, 224, 224);
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 2em;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.product-description {
    font-size: 16px;
    margin-bottom: 0em;
    color: #555;
}

.price {
    font-size: 20px;
    margin-bottom: 1em;
}

.availability {
    font-size: 14px;
    margin-bottom: 20px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.quantity-selector button {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.quantity-input {
    width: 50px;
    text-align: center;
    font-size: 16px;
}

.action-buttons {
    display: flex;
    gap: 20px;
}

.action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.buy-now {
    background-color: #008cba;
    color: white;
}

.add-to-cart {
    background-color: #4caf50;
    color: white;
}
