<div class="row">
    <div class="col-4 about"> <h1 class="text-shadow">About me</h1></div>
    <div class="col-8 bio"> <p>Hello! I'm Mostafa Lotfy, a passionate Software Engineer and a fresh graduate from the Faculty of Science,
         Computer Science & Statistics Department, Helwan University. Currently,
         I'm training at ITI in Egypt,
         focusing on enhancing my skills in web development,
         with a strong interest in Django.
         In addition to my love for coding,
         I'm also an avid gamer,
         which helps me balance my analytical mindset with creativity and problem-solving in both work and play.
         I'm always eager to learn, grow, and take on exciting challenges in the tech world!</p> 
         <a href="/assets/cv.pdf" download="MyResume"><button class="btn btn-dark">Download CV</button></a>
        </div>

</div>
