<div class="row hero text-warning">
  <div class="col-7 d-flex flex-column justify-content-center ">
  <h1>Welcome to <span class="name text-info">QuickCart</span></h1>
  <br>
  <h5 style="color: rgb(151, 183, 211)">Your One-Stop Shop for Everything – From Beauty Essentials to Home goods & decor, We've Got It All!</h5>
  <!-- <h5> Shop Now for the Best Deals on Everyday Essentials!</h5> -->
  </div>
  <div class="col-5 d-flex justify-content-center"> <img src="../../assets/images/image4.png" alt="Product Image" style="height: 18em;">
  </div>
</div>
<div class="row">
    <h5>Welcome to <b>QuickCart</b>, Start Browsing...</h5>
    <hr class="bg-primary border-5 border-top border-primary" />
        @for (item of dataList; track item.id) {
            <div class="card mx-2" style="width: 18rem;" (click)="goToDetails(item.id)">
            @if (item.availabilityStatus === 'Low Stock') {
                <div class="position-absolute top-0 start-0 bg-warning text-white px-2 py-1 rounded-bottom">Low Stock</div>
            }
        
            <img src="{{item.thumbnail}}" class="card-img-top" alt="Bose BT Earphones" />
        
            <div class="card-body text-center">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="text-muted">{{item.tags}}</p>

              <div class="rate d-flex justify-content-between mb-3">
                <span class="fw-bold text-success">${{item.price}}</span>
                <span>{{Math.round(item.rating) > item.rating ? '★'.repeat(item.rating) +'⯪' : '★'.repeat(item.rating)}}</span>
              </div>
        
            </div>
          </div>
    }
</div>
