.row{
    width: 100%;
    margin: 0;
    padding: 4%;
    display: flex;
    justify-content: center;
    box-shadow:inset 0 0 8px 4px black;
}
.hero{
    background-color: black;
    padding-top: 1em;
    text-align: center;
}

.name{
    font-size: 1em;
    text-shadow: 0px 0px 6px gray;
    display: inline-block;

}

.name::first-letter{
    font-size: 1.2em;
    color: gray;
}

.card{
    margin: 2%;
    /* box-shadow: 0 0 8px 4px gray; */
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
    display: flex;
    text-align: center;
    align-items: center;
    height: auto;
}
.card:hover{
    transform: scale(1.02);
}
.card-img-top{
    width: 68%;
    height: 10em ;
}
.card-title{
    font-size: 1em;
}
.card-text{
    font-size: 0.8em;
    height: 40%;
    width: 80%;
    margin-left: 5%;
}

span{
    font-size: 1em;
    color: goldenrod;
}




