<div class="row py-5">
    <div class="register">
        <div class="container d-flex justify-content-center align-items-center vh-100">
          <div class="card register-card">
            <div class="card-body">
              <h3 class="card-title text-center my-6">Register</h3>
              <form [formGroup]="registerForm" (ngSubmit)="handleSubmitForm()">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter your name"
                    required
                    formControlName="name"
                  />
                  @if (formControls['name'].invalid && formControls['name'].touched) {
                    @if (formControls['name'].hasError('required')) {
                      <div id="recipeHelp" class="form-text text-danger">Required</div>
                    }@else if (formControls['name'].hasError('pattern')) {
                        <div id="recipeHelp" class="form-text text-danger">Only Alphabets</div>  
                    }
                  }
                </div>
      
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter your email"
                    required
                    formControlName="email"
                  />
                  @if (formControls['email'].invalid && formControls['email'].touched) {
                    @if (formControls['email'].hasError('required')) {
                      <div id="recipeHelp" class="form-text text-danger">Required</div>
                    } @else if (formControls['email'].hasError('email')) {
                      <div id="recipeHelp" class="form-text text-danger">Email not valid</div>
                    }
                  }
                </div>
      
                <div class="mb-3">
                  <label for="username" class="form-label">User Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Enter a username"
                    required
                    formControlName="username"
                  />
                  @if (formControls['username'].invalid && formControls['username'].touched) {
                    @if (formControls['username'].hasError('required')) {
                      <div id="recipeHelp" class="form-text text-danger">Required</div>
                        } @else if (formControls['username'].hasError('pattern')) {
                      <div id="recipeHelp" class="form-text text-danger">Username cannot contain spaces</div>
                    }
                  }
                </div>
                  <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Enter password"
                    required
                    formControlName="password"
                  />
                  @if (formControls['password'].invalid && formControls['password'].touched) {
                    @if (formControls['password'].hasError('required')) {
                      <div id="recipeHelp" class="form-text text-danger">Required</div>
                    } @else if (formControls['password'].hasError('minlength')) {
                      <div id="recipeHelp" class="form-text text-danger">Password must be at least 8 characters</div>
                    } @else if (formControls['password'].hasError('pattern')) {
                      <div id="recipeHelp" class="form-text text-danger">
                        Password must contain at least one lowercase letter, one uppercase letter, and one special character.
                      </div>
                    }
                  }
                </div>
                <div class="mb-3">
                  <label for="confirm-password" class="form-label">Confirm Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="confirm-password"
                    placeholder="Confirm password"
                    required
                    formControlName="confirmPassword"
                  />
                  @if (formControls['confirmPassword'].invalid && formControls['confirmPassword'].touched) {
                    @if (formControls['confirmPassword'].hasError('required')) {
                      <div id="recipeHelp" class="form-text text-danger">Required</div>
                    }
                  }
                  @if (registerForm.errors?.['passwordMismatch']) {
                        <div id="recipeHelp" class="form-text text-danger">Passwords do not match.</div>
                      }
                </div>
      
                <div class="d-grid">
                    <button type="submit" [disabled]="registerForm.invalid">Register</button>
                </div>
                  <div class="text-center mt-3">
                  <p class="mb-0">Already have an account? <a routerLink="/login" routerLinkActive="active-link" class="text-decoration-none">Login</a></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </div>